<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "Pet name" %><br />
    <%= f.text_field :name, autofocus: true%>
  </div>
  
  <div class="gender">
    <%= f.label :gender, "Pet gender" %><br />
    <%= f.label :♂ %>
    <%= f.radio_button :gender, :♂ %>
    <%= f.label :♀ %>
    <%= f.radio_button :gender, :♀ %>
    <%= f.label :other %>
    <%= f.radio_button :gender, :other %>
</div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true%>歳
  </div>

  <div class="field">
    <%= f.label :animal_type, "Pet type 例:いぬ、ねこ※ひらがなで入力してね" %><br />
    <%= f.text_field :animal_type, autofocus: true%>
  </div>
  
  <div class="field circle-icon ">
    <%= f.label :icon %><br/>
      <img src=<%= @user.icon %> class = "icon_image">
    <%= f.file_field :icon, id: :icon_img %>
    <% if @user.icon.present? %>
      <%= image_tag @user.icon, id: :icon_prev %>
    <% else %>
      <%= image_tag "default.jpg", id: :icon_prev %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
