<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <!--lメソッドを使って日時表示の設定+formatｵﾌﾟｼｮﾝの指定-->
    <%= l article.created_at, format: :short %>
    <!--　画像表示 -->  
      <% if article.image? %>
        <%= image_tag article.image.url %>
      <% end %>
      
      <!--いいね処理-->
     
      <% if Like.find_by(user_id: current_user.id, article_id: article.id) %>
 　      <%= link_to("/likes/#{article.id}/destroy", {method: "article"}) do %>
 　         <span class="fa fa-heart like-btn-unlike"></span>
 　      <% end %>
      <% else %>
        <%= link_to("/likes/#{article.id}/create", {method: "article"}) do %>
           <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      
      <!-- 変数@likes_countを表示してください -->
      <%= @likes_count %>
      <!--ここまで-->
      <%= link_to 'Show', article, class: "btn btn-outline-primary" %>
      
    <!--ログインしたユーザーIDと投稿したユーザーIDが同じなら-->
    <% if user_signed_in? && current_user.id == article.user_id %>
      <%= link_to article.user.name,users_myprofile_path %>
    <% else %>
    <!--投稿者の表示 -->
    <%= link_to(article.user.name,"/users/#{article.user.id}") %>
    <% end %> 
  </div>
</div>