<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--以下を追記　Font Awesome読み込み-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- カスタマイズ用CSS -->
    <link rel="stylesheet" media="screen" href="/xxx/public/stylesheets/bootstrap-custom.css">
    <link rel="stylesheet" media="screen" href="/xxx/public/stylesheets/my.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <div id="modalArea"></div>
    <main>
      <div class="container-fruid h-100 p-2 d-flex flex-column">
      <%= yield %>  
      </div>
    </main>
   
  </body>
</html>
